{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-grid gap-4">
            <div class="text-center">
                <h1>Page d'accueil</h1>
            </div>

			{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
		
			<div class="">
				{{ include('listing/_form.html.twig') }}
			</div>
			{% for list in listing %}
				<div class="d-grid gap-1">
					<div class="">
						{{ list.name }}
					</div>
					<div class="">
						posséde
						{{ list.fkTask|length }}
						tâche(s)
					</div>
                    <div class="d-flex flex-row d-grid gap-2">
                        <div class="">
                            <a href="{{ path('app_listing_show', {'id': list.id}) }}" class="btn btn-primary">Détails</a>
                        </div>
                        <div class="">
                            {{ include('listing/_delete_form.html.twig') }}
                        </div>
                    </div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
