{{ form_start(form) }}
    <div class="d-grid gap-2">
        <div class="">
            {{ form_errors(form.title) }}
        </div>
        <div class="">
            {{ form_widget(form.title) }}
        </div>
        <div class="">
            {{ form_widget(form.state) }}
        </div>
        <div class="text-end">
            {{ form_widget(form.save) }}
        </div>

    </div>
{{ form_end(form) }}
